@font-face {
    font-family: 'Thunder';
    src: url('../fonts/thunder/Thunder-BoldLC.ttf') format('truetype');
}

@font-face {
    font-family: 'WorkSans';
    src: url('../fonts/worksans/WorkSans-Regular.ttf') format('truetype');
}

body{
    margin: 0;
    padding: 0;
    background-color: (#ffff);
    background-size: 100% auto;
    background-position: center;
    min-height: 900px;
    width: 100%;
}

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    height: 100px;
    background-color: #ffff;
}

.back {
    height: 50px;
}

.FORM{
    display: flex;
    text-align: center;
    align-items: center;
    height: 100vh;
    max-height: 900px;
    width: 100%;
    gap: 100px;
}

.form-left {
    height: 100%;
}

.formulario{
    display: flex;
    flex-direction: column;
    position: relative;
}

.Titulo{
    margin-bottom: -100px;
}

.Titulo h2{
    text-align: center;
    font-size: 38;
    font-family: Thunder LC;
    font-size: 80pt;
    color: #133a7c;
}

.Titulo h3{
    text-align: center;
    font-size: 38;
    font-family: WorkSans;
    font-size: 18pt;
    color: #133a7c;
    margin-bottom: -80px;
}

.formulario form{
padding: 0 40px;
box-sizing: border-box;
}


form .username{
    position: relative;
    border-bottom: 2px solid #133a7c;
    margin: 30px 0;
}

.username input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16p;
    border: none;
    background: none;
    outline: none;
}

.username label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
    font-family: WorkSans;
    font-size: 12pt;
}

.username span::before{
    content: ' ';
    position: absolute;
    top: 40px;
    left: 0;
    width: 100px;
    height: 2px;
    background-color:#133a7c;
    transition: .5s;
}

.username input:focus ~ label,
.username input:focus ~ label{
    top: -5px;
    color: black;
}

.username input:focus ~ span::before,
.username input:focus ~ span::before{
    width: 100%;
}

input[type=submit]{
    width: 350px;
    height: 50px;
    border: 1px solid;
    background-color: #133a7c;
    border-radius: 25px;
    font-size: 18px;
    color: white;
    cursor: pointer;
    outline: none;
}

input[type="submit"]:hover{
    border-color: black;
    transition: .5s;
}


@media(max-width:1000px) {

.FORM {
    flex-direction: column;
}

.form-left {
    display: none;
}

.formulario {
    margin-top: 200px;
}


}