@font-face {
    font-family: Avenir-regular;
    src: url("../tipografia/Avenir-regular.ttf");
}
@font-face {
    font-family: Futura-medium;
    src: url("../tipografia/futur.ttf");
}
@font-face {
    font-family: Futura-bold;
    src: url("../tipografia/Futura-Bold.ttf");
}